.navbar {
  background-color: #0f0f0f;
  padding: 0 2rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.logo {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-left: 50px;

}

.nav-links {
  display: flex;
  height: calc(100% - 20px);
  align-self: flex-end;

  border: 1px solid #1e1e1e;
  border-bottom: none;
  border-radius: 12px; 
  overflow: hidden;    
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #121212;
  color: #ccc;
  font-weight: 500;
  font-size: 0.95rem;
  text-transform: none;

  padding: 0 26px;
  height: 100%;
  line-height: 1;

  border-right: 1px solid #1a1a1a;
  border-radius: 0;            
  transition: 0.2s ease;
}

.nav-links a:hover {
  background-color: #1a1a1a;
  color: white;
}

.nav-links a.active {
  background-color: #1a1a1a;
  color: white;
}

.nav-links a:last-child {
  border-right: none;
}



.custom-btn {
  background-color: #1e1e1e !important;
  color: white !important;
  border-radius: 12px;
  font-weight: 500;
  padding: 8px 20px;
  font-size: 0.95rem;
  text-transform: none;
  transition: background-color 0.2s ease;
  margin-right: 50px ;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.05),
    0 0 10px rgba(255, 255, 255, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);

  &:hover {
    background-color: #2a2a2a !important;
  }
}
