<mat-toolbar class="navbar" color="primary">
  <span class="logo">DAMIEN</span>

  <nav class="nav-links">
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About Me</a>
    <a mat-button routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    <a mat-button routerLink="/services" routerLinkActive="active">Services</a>
  </nav>

  <button mat-raised-button class="custom-btn">Contact Me</button>
</mat-toolbar>
