.portfolio-section {
  padding: 2rem 80px 4rem; 
  background-color: #0f0f0f;
  color: white;
 

 
  .portfolio-header {
     margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .section-title {
      p {
        font-size: 0.75rem;
        letter-spacing: 2px;
        color: #888;
        margin: 0 0 0.2rem 0;
      }

      h2 {
        margin: 0;
        font-size: 2rem;
        font-weight: 500;
      }
    }

    .portfolio-controls {
      display: flex;
      gap: 1.2rem;
      align-items: center;

      .arrow-nav {
        display: flex;
        gap: 0.6rem;
        padding: 0.4rem 0.6rem;
        border-radius: 100px;
        background-color: #0d0d0d;
        border: 1px solid #222;
      }

      .arrow-btn {
        width: 36px;
        height: 36px;
        background-color: #1c1c1c;
        color: white;
        border-radius: 50%;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #2a2a2a;
        }
      }

      .view-all-btn {
        background-color: #1c1c1c;
        color: white;
        padding: 0.5rem 1.2rem;
        font-size: 0.9rem;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #2a2a2a;
        }
      }
    }
  }

  hr {
    height: 1px;
    background-color: #222;
    border: none;
    margin: 1.5rem 0 2rem;
  }

 
  .portfolio-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .portfolio-card {
    background: #111;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: auto;
      display: block;
      border-bottom: 1px solid #222;
      max-height: 420px; 
      object-fit: cover;
    }

    .card-info {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;
      gap: 1rem;

      .card-text {
        h3 {
          margin: 0;
          font-size: 1rem;
          font-weight: 500;
          color: #ddd;
        }

        p {
          margin: 0.3rem 0 0;
          font-size: 0.8rem;
          color: #aaa;
        }
      }

      .view-project {
        color: #ccc;
        font-size: 0.8rem;
        text-decoration: none;
        display: flex;
        gap: 0.3rem;
        align-items: center;

        span {
          font-size: 1rem;
        }

        &:hover {
          color: white;
        }
      }
    }
  }

 
  @media (max-width: 768px) {
    padding: 2rem 1rem;

    .portfolio-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
    }

    .portfolio-controls {
      justify-content: flex-start;
    }
  }
}
