.about-hero-wrapper {
    
  padding: 1rem 5rem;
  background: #0e0e10;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .about-hero-top {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .about-heading {
      flex: 1;

      .label {
        color: #a1a1a1;
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        margin-bottom: 0.5rem;
      }

      h1 {
        font-size: 2.8rem;
        font-weight: 600;
        margin: 0;
      }
    }

    .cloud-image-container {
      flex: 1.2;
      display: flex;
      justify-content: flex-end;

      img {
        width: 100%;
        max-width: 950px;
        height: 100px;
        object-fit: cover;
        object-position: top;
        border-radius: 2rem;
      }
    }
  }

  .stats-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 40px;
    margin-bottom: 40px;
    .stat-card {
      flex: 1 1 150px;
      background: #161616;
      border-radius: 10px;
      padding: 1rem 1.5rem;
      text-align: center;

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
      }

      p {
        margin-top: 0.5rem;
        font-size: 0.85rem;
        color: #cfcfcf;
      }
    }
  }

  .cloud-banner {
    position: relative;
    margin-top: 0rem;
    margin-bottom: 200px;
    

    .cloud-full {
      width: 100%;
      height: 600px;
      object-fit: cover;
      border-radius: 2rem;
    }



    
    }  }



.custom-image-shape {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 40px;

 clip-path: polygon(50% 0%, 100% 0, 100% 77%, 78% 77%, 78% 100%, 18% 100%, 18% 79%, 0 79%, 0 9%, 45% 9%);



  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
