.faq-section {
  padding: 2rem 80px 3rem; 
  background-color: #0f0f0f;
  color: white;
  .faq-header {
    margin-bottom: 1rem;

    .section-label {
      font-size: 0.75rem;
      color: #888;
      letter-spacing: 2px;
      margin: 0 0 0.3rem 0;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      margin: 0;
    }
  }

  hr {
    height: 1px;
    background-color: #222;
    border: none;
    margin: 1rem 0 2rem;
  }

  .faq-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }

  .faq-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  mat-expansion-panel {
    background-color: #0f0f0f;
    border: 1px solid #222;
    color: #ddd;
    height: 120px;

    mat-expansion-panel-header {
      padding: 0 1rem;

      mat-panel-title {
        font-weight: 400;
        font-size: 0.95rem;
        color: #AFB0B6;
      }

      mat-panel-description {
        justify-content: flex-end;

        mat-icon {
          color: #aaa;
          transition: transform 0.3s ease;
        }
      }
    }

    &.mat-expanded mat-icon {
      transform: rotate(180deg);
    }

    p {
      color: #aaa;
      font-size: 0.95rem;
       padding: 1.2rem 1.5rem;
  margin: 0 0 1.8rem 0; 
  line-height: 1;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 1rem;

    .faq-grid {
      grid-template-columns: 1fr;
    }
  }
}
